<div class="row">
  <div id="welcome" class="large-12 columns">
    <h3 class="lead">
      Hi. Welcome to the home of Ignored by Dinosaurs, an experiment.
    </h3>
    <p class="lead">
      The idea was born in either a tour bus, a green room, or a rehearsal space in 2009, shortly after the iOS gold rush and the promise of a truly democratic, sustainable model for the performing musician began.
    </p>
    <p>
      Unfortunately, in the years since, that promise has remained unrealized.  In this musician's opinion, the real promise of internet distribution is that anyone can do it.  Yes, it's very easy to get you rmusic up on YouTube, but then how do you get paid a living wage?  Yes, it's now possible via a variety of sources to get your music onto iTunes or Spotify, but then how do you get paid a living wage?
    </p>
    <h3><small>The answer is to sell/distribute <em>your own</em> music yourself, giving a cut to noone*.</small></h3>
    <hr></hr>

  </div>
</div>

