<div class="large-6 medium-6 column">
  <div class="row">
    <% if f.object.nil? || f.object.id.nil? %>
      <div class="large-12 column"><%= f.file_field :image %></div>
    <% else %>
      <div class="large-12 column">
        <%= image_tag f.object.image_url(:thumb) %><br />
      <%= link_to "delete", image_path(f.object.id), data: { method: :delete }, class: "micro radius alert button" %>
      </div>
      <small>
        <code class="large-12 column">
          ![](<%= f.object.image_url(:full) %>)
        </code>
      </small>
    <% end %>
  </div>
</div>
