<div class="row">
  <% @posts.each do |post| %>
    <div class="post">
      <h2><%= link_to post.title, post_date_path_helper(post) %></h2>
      <div><%= markdown_filter post.body %></div>
    </div>
  <% end %>
</div>

