<div class="row">
  <% @posts.each do |post| %>
    <div class="post">
      <h2><%= link_to post.title, post_date_path(post.created_at.year, post.created_at.month, post.slug) %></h2>
      <div><%= simple_format post.body %></div>
    </div>
  <% end %>
</div>

