<div id="post" class="row">

  <div class="large-8 medium-8 large-centered medium-centered column">
    <div>
      <h2 class="title"><%= @post.title %></h2>
    </div>
    <div class="body">
      <%= markdown_filter @post.body %>
    </div>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </div>

</div>
