$blue: #205ba2

a
  color: $blue

#header
  padding: 1em 0
  background: #fafafa
  border-bottom: 1px solid #f1f1f1

#footer
  margin-top: 2em
  padding-top: 2em
  background: darken($blue, 15%)
  color: white
  overflow: hidden
  a
    color: white
    text-decoration: underline
