#portfolio-form
  .portfolio_item_title
    @extend .large-6
    @extend .medium-6
    @extend .column
  h3,
  .portfolio_item_body,
  .form-actions,
  #uploads,
  #add-more,
  .links
    @extend .large-12
    @extend .column
  .portfolio_item_sidebar,
  .portfolio_item_summary
    @extend .large-6
    @extend .column
  #portfolio_item_body
    min-height: 20em
  #portfolio_item_summary,
  #portfolio_item_sidebar
    min-height: 10em
  .form-actions
    margin-top: 1em
  #add-more
    margin-top: 1em

#portfolio-item
  @extend .row
  #title
    @extend .large-12
    @extend .column
  #body, #uploads
    @extend .large-8
    @extend .medium-8
    @extend .column
  #sidebar
    @extend .large-4
    @extend .medium-4
    @extend .column
    li
      color: #555
      margin-bottom: .5em
      font-size: 85%
  .th
    margin-bottom: 1em
    background: #eee

#portfolio-index
  .item:nth-child(3n+2)
    clear: left
