<div class="row">
  <h2 class="large-12 column">Portfolio</h2>

  <% @portfolio_items.each do |item| %>
    <div class="large-4 medium-6 column">
      <div><%= link_to image_tag(item.featured_image_url(:featured_square)), item %></div>
      <caption><h5><%= link_to item.title, item %></h5></caption>
    </div>
  <% end %>

  <% if user_signed_in? %>
  <div class="large-12 column"><%= link_to 'New Portfolio item', new_portfolio_item_path %></div>
  <% end %>
</div>
