<div id="footer">
  <div class="row">
    <aside id="bio" class="large-4 medium-4 column">
    <h4>Hello.</h4>
    <p>You probably know me or have known me, but this is my blog and portfolio. My name is John or Johnny, depending on what time of day we typically talk. I'm a musician and web developer, which means that I make web sites work. This site is the home of my consultancy. <a href="mailto:therealjohnnygrubb@gmail.com">Please feel free to drop me a line</a>.</p>
    </aside>
  </div>
</div>

